<!DOCTYPE html>
<html>
  <body>
    <h2>Generative Adverserial Networks for digit generation</h2>

    <button onclick="getPrediction()">Get Prediction</button>

    <img id="outputImage" src="" alt="Image" />

    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
      }
      img {
        width: 400px;
        height: 400px;
        margin-top: 30px;
      }
    </style>

    <script>
      function getPrediction() {
        // Replace this URL with the URL of your Flask API
        var url = "http://localhost:5000/predict";

        // Send a POST request to the Flask API
        fetch(url, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            // Get the base64 image from the response
            var imgBase64 = data["image"];

            // Set the source of the image to the base64 string
            document.getElementById("outputImage").src =
              "data:image/png;base64," + imgBase64;
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
